@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.power-container {
  width: 7em;
  height: 7em;
  position: relative;
}

.power-container input {
  display: none;
}

.power-button {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 4px solid #111;
  background-image: linear-gradient(145deg, #1a1a1a, #2a2a2a);
  box-shadow: inset 2px 2px 0 #3a3a3a,
              inset -2px -2px 0 #0a0a0a;
  display: flex;
  align-items: center;
  justify-content: center;
}

.power-button::before {
  position: absolute;
  content: "";
  width: 7.3em;
  height: 7.3em;
  border-radius: inherit;
  background-image: linear-gradient(145deg, #1f1f1f, #3a3a3a);
  z-index: -1;
  box-shadow: 10px 10px 25px #000,
              -10px -10px 25px #1c1c1c;
}

.power-button .icon svg {
  width: 60px;
  height: 60px;
  fill: #777;
  transition: 0.3s;
}

.power-container input:checked + .power-button {
  border: 4px solid rgba(77, 124, 255, 0.5);
  box-shadow: inset -2px -2px 0 #333,
              inset 2px 2px 0 #000;
}

.power-container input:checked + .power-button svg {
  fill: #4d7cff;
}